.pagination-container {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin-top: 50px;

  .pagination-item {
    padding: 0 12px;
    width: 14px;
    height: 32px;
    text-align: center;
    margin: auto 4px;
    // color: rgba(0, 0, 0, 0.87);
    color: #f59256;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.01071em;
    border-radius: 16px;
    line-height: 1.43;
    font-size: 20px;
    min-width: 32px;

    &.dots:hover {
      background-color: transparent;
      color: #f59256;
      cursor: default;
    }
    &:hover {
      color: white;
      background-color: #f59256;
      cursor: pointer;
    }

    &.selected {
      background-color: #f59256;
      color: white;
    }

    .arrow {
      &::before {
        color: #f59256;
        position: relative;
        content: '';
        display: inline-block;
        width: 0.4em;
        height: 0.4em;
        border-right: 0.12em solid #f59256;
        border-top: 0.12em solid #f59256;
      }

      &.left {
        transform: rotate(-135deg) translate(-50%);
      }

      &.right {
        transform: rotate(45deg);
      }
    }

    &.disabled {
      pointer-events: none;

      .arrow::before {
        border-right: 0.12em solid #f59256;
        border-top: 0.12em solid #f59256;
      }

      &:hover {
        background-color: transparent;
        cursor: default;
      }
    }
  }
}
